.mac-button {
  margin: 3px;
  display: inline-block;
  position: relative;
}
.mac-button .ant-btn-circle {
  min-width: 10px;
  width: 15px;
  height: 15px;
  font-size: 10px;
}
.mac-button .ant-btn {
  border: none;
}
.mac-button .ant-btn .anticon {
  position: absolute;
  transform: translate(-50%, -50%);
}
