.mac-button {
    margin: 3px;
    display: inline-block;
    position: relative;
    // background-color: #D83B37;
    .ant-btn-circle {
        min-width: 10px;
        width: 15px;
        height: 15px;
        font-size: 10px;
    }

    .ant-btn {
        border: none;

        .anticon {
            position: absolute;
            // top: 1.5px;
            // left: 1.5px;
            transform: translate(-50%, -50%);
            // color: transparent;
            // color: initial;
        }

        // .anticon:hover {
        //     color: #363636;
        // }
    }
}