.huabu {
  height: 100%;
  // width: 800px;
  width: 100%;
  background-color: #222;
  color: rgb(254, 252, 252);
  text-align: center;
  font-size: 1rem;
  line-height: normal;
  // margin: 20px;
}

.ruler-container {
  height: 100%;
  width: 100%;
  box-sizing: border-box;
  // padding: 10px 0 0 20px;
  // border: 1px dashed #fff;
  position: relative;

  .horizontal-ruler {
    position: absolute;
    top: 0;
    left: 0;
  }

  .vertical-ruler {
    position: absolute;
    top: 0;
    left: 0;
  }

  .horizontal-line {
    position: absolute;
    width: 0;
    height: 0;
    border-bottom: .5px dashed #51d6a9;

    .line-offset-value {
      top: -30px;
      left: 20px;
      transform: rotate(-90deg);
    }
  }

  .vertical-line {
    position: absolute;
    width: 0;
    height: 0;
    border-left: .5px dashed #51d6a9;

    .line-offset-value {
      top: 20px;
      left: 10px;
    }
  }

  .line-offset-value {
    position: absolute;
    font-size: 12px;
    color: #51d6a9;
    cursor: default;
  }
}