.huabu {
  height: 100%;
  width: 100%;
  background-color: #222;
  color: #fefcfc;
  text-align: center;
  font-size: 1rem;
  line-height: normal;
}
.ruler-container {
  height: 100%;
  width: 100%;
  box-sizing: border-box;
  position: relative;
}
.ruler-container .horizontal-ruler {
  position: absolute;
  top: 0;
  left: 0;
}
.ruler-container .vertical-ruler {
  position: absolute;
  top: 0;
  left: 0;
}
.ruler-container .horizontal-line {
  position: absolute;
  width: 0;
  height: 0;
  border-bottom: 0.5px dashed #51d6a9;
}
.ruler-container .horizontal-line .line-offset-value {
  top: -30px;
  left: 20px;
  transform: rotate(-90deg);
}
.ruler-container .vertical-line {
  position: absolute;
  width: 0;
  height: 0;
  border-left: 0.5px dashed #51d6a9;
}
.ruler-container .vertical-line .line-offset-value {
  top: 20px;
  left: 10px;
}
.ruler-container .line-offset-value {
  position: absolute;
  font-size: 12px;
  color: #51d6a9;
  cursor: default;
}
