@import '~antd/dist/antd.css';
.right_content {
  height: 100vh;
  flex: 1;
  background-color: #333;
}
.card-container p {
  margin: 0;
  background-color: #686565;
}
.card-container > .ant-tabs-card .ant-tabs-content {
  background-color: #686565;
  margin-top: -16px;
  height: 538px;
}
.card-container > .ant-tabs-card .ant-tabs-content > .ant-tabs-tabpane {
  background-color: #686565;
}
.card-container > .ant-tabs-card > .ant-tabs-nav::before {
  display: none;
}
.card-container > .ant-tabs-card .ant-tabs-tab,
.card-container > .ant-tabs-card .ant-tabs-tab-active .ant-tabs-tab-btn {
  color: aliceblue;
}
.card-container > .ant-tabs-card .ant-tabs-tab {
  border: 0px;
  background: transparent;
  border-color: transparent;
  color: aliceblue;
}
#components-tabs-demo-card-top .code-box-demo {
  background: #000;
}
.card-container > .ant-tabs-card .ant-tabs-content > .ant-tabs-tabpane {
  background: #686565;
}
.card-container > .ant-tabs-card .ant-tabs-tab-active {
  background: #686565;
  border-color: #686565;
}
