.chart {
  height: 100%;
  width: 100%;
  font-size: 6em;
}
.common-config-collapse {
  border-left: none !important;
  border-right: none !important;
}
.common-config-collapse .ant-collapse-header {
  padding: 8px 16px !important;
}
.common-config-collapse .ant-collapse-content-box {
  background-color: #232324;
}
