.setting-box {
  display: flex;
  align-items: flex-start;
  flex-wrap: nowrap;
  flex-direction: row;
  margin-top: 20px;
}
.setting-box .name {
  min-width: 60px;
}
.setting-box .box {
  flex: 1;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.item-container {
  width: 49%;
  margin-bottom: 6px;
}
.item-container .name {
  color: rgba(0, 0, 0, 0.5);
  margin-top: 2px;
}
